
<h1>Add a Director</h1>

<form action="http://localhost:3000/directors/create_new">
  Name:
  <input name="name" placeholder="Woody Allen" type="text">

  Bio:
  <input name="bio" placeholder="Great Director" type="text">

  Dob:
    <input name="dob" placeholder="09/03/1956" type="text">

  Image_url:
     <input name="image_url" placeholder="www.image.com" type="text">

 <button>Create Director </button>

</form>
 <a href="http://localhost:3000/directors">Cancel and go back</a>
