
<h1>Add a Director</h1>

<form action="http://localhost:3000/directors/create_new">
  Name:
  <input name="name" type="text">

  Bio:
  <input name="bio" type="text">

  Dob:
    <input name="dob" type="text">

  Image_url:
     <input name="image_url" type="text">

  <button>Create Director</button>
</form>

<a href="http://localhost:3000/directors">Cancel and go back</a>

